* {
    padding: 0px;
    margin: 0px;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #010e12;
    background: radial-gradient(circle, rgba(148, 233, 226, 1) 0%, rgba(1, 14, 18, 1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sideNav {
    width: 6%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
}

.fa-solid {
    color: rgb(133, 224, 224);
}

.fa-house{
    margin-top: 25px;
}

.sideNav .fa-solid:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.middleSection {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: green; */
}

.headerInputGroup {
    width: 60%;
    height: 7%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

#cityInput {
    width: 90%;
    height: 94%;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
}

#cityInput::placeholder {
    color: rgb(133, 224, 224);
}

.enterBtn {
    width: 5%;
    height: 94%;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.enterBtn:active {
    transform: scale(0.95);
}

.weatherArticle {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: rgb(133, 224, 224);
    /* background-color: blueviolet; */
}

#weatherResult {
    width: 68%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.logoName{
    width: 16%;
    height: 15%;
    color: rgb(133, 224, 224);
    /* background-color: red; */
}

.fa-skyatlas{
    font-size: 3rem;
}

.name{
    font-size: small;
    position: absolute;
}
.weatherHeadeInfo{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    /* background-color: burlywood;  */
}

.fa-magnifying-glass-location{
    font-size: 3rem;
}

.weatherHeadSec{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-weight: bolder;
    font-size: larger;
    /* background-color: gray; */
}
.local-time{
    font-size: 10px;
    color: #bdbaba;
    margin-top: 5px;
}
.weatherResult-Img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:right;
    /* background-color: red; */
}
#weatherResult img {
    width: 55%;
}

.weather-info-row {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    /* background-color: blueviolet; */
}

.info-box {
    width: 28%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 20, 20);
    font-weight: bolder;
    font-size: larger;
}

.info-Title{
    margin-bottom: 5px;
    font-size: 10px;
    color: #bdbaba;
}
.foreCast{
    width: 90%;
    height: 45%;
    border-radius: 10px;
    background-color: rgb(19, 20, 20);
}


.detailedWeather {
    width: 29%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
}

.loading {
  font-size: 1rem;
  color: #ffeeaa;
  padding: 10px;
  text-align: center;
  animation: blink 20s infinite;
}

/* Simple blinking animation */
@keyframes blink {
  50% { opacity: 0.5; }
}